/* 変数 */
:root {
  --white: #fff;
  --gray01: #fcfcfc;
  --gray02: #f3f3f3;
  --gray03: #ccc;
  --gray04: #999;
  --gray05: #666;
  --black: #333;
  --text-gray-color: #acaba9;
  --link-color: #2383e2;
  --link-hover-color: #0277d4;
  --link-active-color: #016bc7;
  --white: #fff;
  --white-hover-color: #efeeec;
  --white-active-color: #dfdedb;
  --red: #ef4444;
  --red-hover-color: #b91c1b;
  --red-active-color: #c9504c;

  --memo-bg-color: #f4f5f7;
  --memo-bg-hover-color: #e5e5e5;
  --memo-bg-focus-color: #f1f6fc;
  --memo-focused-border-color: #82b4ee;
  --memo-hover-shadow-color: rgba(0, 0, 0, 0.25);

  --dnd-group-bg-color: #f4f5f7;

  --memo-cell-shadow: rgba(0, 0, 0, 0.25);
  --memo-cell-hover-bg-color: #e5e5e5;

  --test-color: rgb(255, 82, 82);
  --test-color2: rgb(255, 212, 82);
  --test-color3: rgb(167, 167, 167);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", "メイリオ";
}

html {
  font-size: 14px; /* 1remの値 */
  color: var(--black);
  background-color: var(--white);
  /* background-color: var(--gray01); */
}

/*********************************
Common 共通部品
*********************************/
.common__form {
  height: 4rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}
.common__form--input {
  border: 0.1rem solid var(--text-gray-color);
  &::placeholder {
    color: var(--text-gray-color);
  }
  &:focus {
    outline: none;
    border: 0.1rem solid var(--memo-focused-border-color);
  }
}
.common__form--button {
  font-weight: bold;
  border: none;
  cursor: pointer;
  user-select: none;
}
.common__error {
  /* height: 4rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--red);
  font-size: 1.4rem;
}
/*********************************
Header
*********************************/
.header {
  display: flex;
  align-items: center; /* 縦方向の中央揃え */
  justify-content: space-between;
  height: 8rem;
  margin: 0 2rem;
  padding: 0 2rem;
  /* background-color: rgb(225, 191, 224); */
  .header__title {
    font-size: 2rem;
  }
  .header__title-link {
    text-decoration: none;
    color: var(--black);
  }
  .header__button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
  }
}

/* MUIの要素はネストしていると使えない */
.header__menu-img {
  width: 1.4rem;
  height: 1.4rem;
}
.header__menu-img-red {
  /* 「アカウントを削除」のアイコン */
  color: var(--red);
}
.header__menu-text span {
  font-size: 1.4rem;
  color: var(--black);
}
.header__menu-text-red span {
  /* 「アカウントを削除」の文字 */
  color: var(--red);
}

/*********************************
アカウント削除モーダル
*********************************/
.header__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32rem;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .modal__title {
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
  }
  .modal__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .modal__text {
      font-size: 1.2rem;
      color: var(--text-gray-color);
    }
    .modal__list {
      background-color: var(--memo-bg-color);
      list-style: none;
      padding: 1rem 1.5rem;
      border-radius: 0.5rem;
      .modal__list-item {
        font-size: 1.4rem;
      }
    }
  }
  .modal__button-box {
    display: flex;
    justify-content: center;
    gap: 1rem;
    .modal__button {
      width: 14rem;
    }
    .modal__button--cancel {
      background-color: var(--white);
      color: var(--black);
      border: 0.1rem solid var(--text-gray-color);
      &:hover {
        background-color: var(--white-hover-color);
      }
      &:active {
        background-color: var(--white-active-color);
      }
    }
    .modal__button--delete {
      background-color: var(--red);
      color: #fff;
      &:hover {
        background-color: var(--red-hover-color);
      }
      &:active {
        background-color: var(--red-active-color);
      }
    }
  }
}

/*********************************
Main
*********************************/
.main {
  /* background-color: rgb(207, 230, 206); */
  margin: 0 2rem;
  padding: 4rem 0;
  /* text-align: center; */
}

/*********************************
AuthContainer
*********************************/
.auth {
  /* background-color: #e1efff; */
  width: 32rem;
  margin: 0 auto;
  .auth__copy-box {
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .auth__copy {
      font-size: 2.2rem;
      font-weight: bold;
      line-height: 2.6rem;
    }
    .auth__copy--grayed {
      color: var(--text-gray-color);
    }
  }

  .auth__label-box {
    display: flex;
    justify-content: space-between;
    .auth__label {
      font-size: 1.4rem;
      color: var(--text-gray-color);
    }
    .auth__label--link {
      color: var(--link-color);
      cursor: pointer;
      user-select: none;
      &:hover {
        color: var(--link-hover-color);
      }
    }
  }

  .auth__form-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .auth__form--button {
      background-color: var(--link-color);
      color: #fff;
      &:hover {
        background-color: var(--link-hover-color);
      }
      &:active {
        background-color: var(--link-active-color);
      }
    }
  }

  .auth__error {
    height: 4rem;
  }
}

/*********************************
Memo
*********************************/

.memo__table {
  width: min(80dvw, 600px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.memo__row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 2rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 0.05rem 0.5rem var(--gray03);
  &:hover {
    background-color: var(--gray02);
    transition: 0.2s;
  }
  /* フォーカスされた時のスタイル */
  &:focus-within {
    background-color: var(--white);
  }
  &:hover,
  &:focus-within {
    .memo__hover-box {
      opacity: 0.6;
      transition: opacity 0.2s;
    }
  }

  .memo__form {
    resize: none; /* ユーザーによるフォームサイズ変更を禁止 */
    background: transparent;
    border: none;
    outline: 0.1rem solid transparent; /* active時の枠線 */
    color: var(--black);

    &::placeholder {
      color: var(--text-gray-color);
    }
  }
  .memo__form--title {
    font-size: 1.4rem;
    cursor: grab;
    &:focus-within {
      cursor: text;
    }
  }
  .memo__hover-box {
    /* 初期状態で非表示 */
    opacity: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    .memo__delete {
      width: 2rem;
      height: 2rem;
      border: none;
      background: transparent;
      opacity: 0.6;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}

.new-memo__row {
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
  padding: 1.5rem;
  &:hover {
    cursor: pointer;
  }
  .new-memo__text {
    font-size: 1.2rem;
  }
}
.new-memo__row--disabled {
  pointer-events: none;
}

/*********************************
dnd
*********************************/
.dnd__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/*********************************
Tiptap
*********************************/

.editor {
  position: relative;
  font-size: 1.2rem;
  &:hover {
    cursor: pointer;
  }
  &:focus-within {
    cursor: text;
  }

  p {
    margin: 0;
    padding: 0;
  }

  a {
    color: var(--gray05);
    text-underline-offset: 0.15rem;
    text-decoration-thickness: 0.05rem;
    &:hover {
      cursor: pointer;
    }
  }

  kbd,
  code {
    padding: 0.2rem;
    border-radius: 0.4rem;
    font-weight: normal;
    background-color: var(--gray02);
    font-size: 1.2rem;
  }

  /* EditorContentのスタイル */
  .ProseMirror-focused {
    outline: none;
  }

  .editor__bubble-menu {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.8rem;
    border-radius: 0.4rem;
    background-color: var(--white);
    box-shadow: 0 0.4rem 0.8rem var(--gray03);
    color: var(--white);
  }
}

/* 以下のボタン群のベーススタイル */
/* icon, edit, save, delete, open */
.editor__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  margin: 0;
  padding: 0 0.8rem;
  border: 0;
  border-radius: 0.4rem;
  background: transparent;
  cursor: pointer;
}

.editor__button--icon {
  width: 2rem;
  padding: 0;
}

.editor__button:hover,
.editor__button.is-active,
.editor__button--icon:hover,
.editor__button--icon.is-active {
  background-color: var(--gray02);
}

.editor__button--save {
  background-color: var(--link-color);
  color: var(--white);
}

.editor__button--delete {
  background-color: var(--red);
  color: var(--white);
}
/*********************************
リンクモーダル
*********************************/
/* モーダル部分以外の背景 */
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
/* リンクモーダルの標準スタイルを上書き */
.link-modal {
  position: absolute;
  background-color: #fff;
  padding: 1.8rem !important;
  border-radius: 1rem !important;
  border: none !important;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .link-modal__title {
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
  }

  .link-modal__button-box {
    display: flex;
    justify-content: center;
    gap: 1rem;
    .link-modal__button {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-size: 1.2rem;
    }
    .link-modal__button {
      background-color: var(--white);
      color: var(--black);
      border: 0.1rem solid var(--text-gray-color);
      &:hover {
        background-color: var(--white-hover-color);
      }
      &:active {
        background-color: var(--white-active-color);
      }
    }
  }
}

/* editorのplaceholderのスタイル */
.tiptap p.is-editor-empty:first-child::before {
  color: var(--text-gray-color);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
